/* Tool Call Visibility Toggles */
.tool-result-container {
    display: none;
}

.tool-result-container.expanded {
    display: block;
}

.toggle-result-btn {
    cursor: pointer;
    font-size: 24px;
    margin-left: 10px;
    color: var(--color-accent);
    text-decoration: underline;
    background: none;
    border: none;
    font-family:monospace;
    padding: 0;
}

.toggle-result-btn:hover {
    color: var(--color-accent-hover);
}