uvicorn
fastapi
langgraph
langchain_community
langchain_core
langchain-ollama
supabase
pydantic
tenacity
mammoth
markdownify
python-dotenv
httpx
langgraph-checkpoint-postgres
psycopg_binary
langchain
email-validator
python-multipart